* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

.book {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
}

.added-book {
  width: 100%;
}

.added-book h1 {
  text-align: center;
  margin-bottom: 0.6rem;
}

.added-book ul {
  border: 2px solid black;
  padding: 1rem 0;
}

.added-book ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
  padding: 0.5rem;
}

.added-book ul li > h2 {
  font-size: 14px;
}

.added-book ul li > button {
  padding: 0.5rem;
  margin-right: 0.5rem;
  box-shadow: 3px 2px 1px 4px rgba(0, 0, 0, 0.5);
}

.added-book ul li:nth-child(2n+1) {
  background-color: grey;
}
